<div ng-controller="IndexController">
  <super-navbar>
    <super-navbar-title>
          CatCab
    </super-navbar-title>
  </super-navbar>

 <div class="info" ng-hide="matchStatus">
     <img width="50%" height = "50%" ng-src="{{ user.imgSrc}}">
     <div>
      <!-- Image upload and display -->
  <!-- This does not currently push to the database. It just lets the user upload a photo, converts the photo to base64, then displays the photo on the page -->
  
    <button class="button button-full button-positive icon-left super-image" ng-click="getImage()">Upload Photo</button> 

        <p>Your uploaded image:</p>
        <img  width="100%" height="100%" ng-src="{{imgSrc}}">
        <!-- <p>Image data (in base 64) should appear below:</p>
        <p id="Data">Data: {{imgData}}</p> -->

  </div>
</div>  
<!-- new user form filled out for user information, connected to addUser function -->
  <div class="info" ng-hide="matchStatus">
    <form ng-submit="addUser()">
      <label class="item item-input">
        <input type="text" placeholder="First Name" ng-model="firstName">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Last Name"  ng-model="lastName">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Phone" ng-model="phone">
      </label>
      
       <label class="item item-input item-select">
          <div class="input-label">
            Terminal
          </div>
           
          <select ng-model="terminal">
            <option>Terminal 1</option>
            <option selected>Terminal 2</option>
            <option>Terminal 3</option>
            <option>Terminal 5</option>
          </select>
        </label>

      <button class="button button-full button-positive" type="submit" >
      Create New User
    </button>
    </form>
  </div>

<div ng-show="matchStatus">
  <h3> matched!!!</h3>
</div>
  <!-- <super-modal-show location="users#new">  -->
    
  <!-- </super-modal-show> -->

  <!-- loop through and display all names in the firebase database (for debug purposes) -->
  <ul id="example-messages" class="example-chat-messages">
    <li> List of user names and locations in the database right now </li>
    <li ng-repeat="user in users">
      <strong class="example-chat-username">{{ user.firstName }}, {{ user.terminal }}</strong>
      <!-- Testing imgSrc. It works! -->
      <!-- This displays all base64 images that exist in the database next to the image's user's name and terminal -->
      <!-- (Currently the database-side images are hard-coded via the web interface)-->
    </li>
  </ul>

  
