<div ng-controller="IndexController">
  <super-navbar>
    <super-navbar-title>
          CatCab
    </super-navbar-title>
  </super-navbar>

<h3 style="text-align: center;"> Welcome to O'Hare airport!</h3>
<!-- Hide the image when a match is found -->
 <div class="info" ng-hide="matchStatus || waiting" >
    <!--  <img width="100%" height = "100%" ng-src="{{ user.imgSrc}}"> -->
     <div>
     <!-- Display image-->
      <div> <!-- took out ng-hide -->
        <img  class="img_center" ng-src="{{imgSrc}}">
      </div>
    <!-- Choose a photo to upload from user's camera roll -->
    <button class="button button-full button-positive icon-left super-image" ng-click="getImage()" ng-hide="imgData">Upload Photo</button> 
        <!-- <p>Image data (in base 64) should appear below:</p>
        <p id="Data">Data: {{imgData}}</p> -->
  </div> 
</div>  
<!-- Hide the form when a match is found -->
<!-- new user form filled out for user information, connected to addUser function -->
  <div class="info" ng-hide="matchStatus || waiting">
    <form ng-submit="addUser()">
      <label class="item item-input">
        <input type="text" placeholder="First Name" ng-model="firstName">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Last Name"  ng-model="lastName">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Phone" ng-model="phone">
      </label>
      
       <label class="item item-input item-select">
          <div class="input-label">Origin</div>
           
          <select ng-model="terminal">
            <option ng-repeat="origin in origins">{{origin.name}}</option>
          </select>
        </label>

        <label class="item item-input item-select">
          <div class="input-label">Destination</div>
           
          <select ng-model="destination">
            <option ng-repeat="destination in destinations">{{destination.name}}</option>
          </select>
        </label>

      <div ng-hide="matchStatus || waiting">
        <button class="button button-full button-positive" type="submit" >
        Find Match
        </button>
      </div>
    </form>
  </div>

<!-- Indicate info has been saved -->
<!-- <div ng-show="waiting">
  <h4>Info sumbitted</h4>
</div> -->

<!-- Indicate no match has been found so far -->
<div ng-show="!matchStatus && waiting">
  <div class="card">
    <div class="item item-text-wrap" ng-hide="matched_previously">
      Your match is coming soon!
    </div>
    <div class="item item-text-wrap" ng-show="matched_previously">
      Sorry, your match disconnected! <br> A new match is coming soon!
    </div>
  </div>
  <div class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
  <button class="button button-full button-positive" type="submit" ng-click="cancel()" >
        Cancel
  </button>
</div>

<!-- Show the result when a match is found -->
<!-- Show the result when a match is found -->
<div ng-show="matchStatus">
  <div>
       <img class="img_center" ng-src="{{ match.imgSrc}}">
  </div>
  <div class="list card">
    <div class="item item-text-wrap">
      <h3> We found you a match! You will be riding with: </h3>
      <h2> <b> {{match.firstName}} {{match.lastName}} </b></h2>
    </div>
    <div class="item">
      <h2> Phone: {{match.phone}} </h2>
      <h2> Meeting place: {{match.terminal}} Door E </h2>
      <h2> Destination: {{match.destination}}</h2>
    </div>
  </div> 
  <button class="button button-full button-positive" type="submit" ng-click="cancel()">
        Cancel
  </button>
</div>
  <!-- <super-modal-show location="users#new">  -->
    
  <!-- </super-modal-show> -->

  <!-- HIDING DEBUG SHOW TRAVELLERS IN DB BUTTON -->
<!--   <button class="button button-full button-positive icon-left" ng-click="showTravelers()">Show/Hide Travelers</button>  -->

  <!-- loop through and display all names in the firebase database (for debug purposes) -->
<div ng-show="showUsers">
  <ul id="example-messages" class="example-chat-messages">
    <li> List of user names and locations in the database right now </li>
    <li ng-repeat="user in users">
      <strong class="example-chat-username">{{ user.firstName }}, {{ user.terminal }}</strong>
      <!-- Testing imgSrc. It works! -->
      <!-- This displays all base64 images that exist in the database next to the image's user's name and terminal -->
      <!-- (Currently the database-side images are hard-coded via the web interface)-->
    </li>
  </ul>
</div>

  
