<div ng-controller="IndexController">
  <super-navbar>
    <super-navbar-title>
          CatCab
    </super-navbar-title>
  </super-navbar>

  <div class="info">
      <label class="item item-input">
        <input type="text" placeholder="First Name">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Last Name">
      </label>
      <label class="item item-input">
        <textarea placeholder="Phone"></textarea>
      </label>
      <label class="item item-input">
        <textarea placeholder="Location"></textarea>
      </label>
  </div>

  <!-- <super-modal-show location="users#new">  -->
    <button class="button button-full button-positive">
      Create a new users
    </button>
  <!-- </super-modal-show> -->

  
  <ul id="example-messages" class="example-chat-messages">
    <li ng-repeat="user in users">
      <strong class="example-chat-username">{{ user.Name }}</strong>
    </li>
  </ul>
</div>
